.van-radio__label {
    line-height: 32px;
    color: rgb(56, 56, 56) !important;
}

.van-button--normal {
    border-radius: 6px;
    height: 40px;
}

.van-checkbox-group .van-checkbox {
    margin-top: 8px;
}

.header {
    width: 100%;
    overflow: hidden;
}

.header .nav {
    text-align: center;
    background-color: #1690ed;
    color: white;
    position: relative;
}

.nav>span {
    display: inline-block;
    font-size: 18px;
    line-height: 44px;
}

.content {
    overflow-y: scroll;
    width: 100%;
    background-color: #f8f8f8;
    box-sizing: border-box;
}

.nav_btn {
    height: 44px;
    position: absolute;
    top: 0;
    padding: 0 10px;
    line-height: 44px;
}

.nav_btn .van-icon {
    font-size: 24px;
    vertical-align: middle;
}

.nav_btn span {
    font-size: 15px !important;
    display: inline-block;
    vertical-align: middle;
}


.card {
    width: calc(100% - 20px);
    margin: 12px 10px 0 10px;
    background-color: white;
    border-radius: 4px;
}

.form_item {
    overflow: hidden;
    position: relative;
}

.form_item+.form_item {
    border-top: 1px solid rgb(229, 229, 229);
}

.form_label {
    text-align: left;
    float: left;
    width: 100px;
    padding: 0 10px;
    box-sizing: border-box;
    min-height: 1px;
    white-space: nowrap;
    line-height: 44px;
}

.form_item span {
    font-size: 15px;
}

.form_cot span {
    line-height: inherit;
    color: rgb(192, 192, 192);
    vertical-align: middle;
}

.form_label span {
    line-height: inherit;
}

.require span::before {
    content: "*";
    left: 3px;
    position: absolute;
    color: red;
}

.form_cot {
    text-align: right;
    float: left;
    width: calc(100% - 100px);
    padding: 0 10px;
    box-sizing: border-box;
    min-height: 1px;
    line-height: 44px;
    font-size: 15px;
}

.form_cot .msg {
    vertical-align: middle;
    color: rgb(215, 215, 215);
}

.form_cot::after {
    content: "";
    display: block;
    clear: both;
}

.form_cot .input_txt {
    color: black;
}

.form_cot>input {
    width: calc(100% - 32px);
    line-height: inherit;
    text-align: right;
    border: none;
    outline: none;
    font-size: 15px;
}

.form_cot>textarea {
    text-align: right;
    border: none;
    outline: none;
    font-size: 15px;
    line-height: 18px;
    padding: 12px 5px;
}

.big>.form_label {
    width: 100% !important;
}

.big>.form_cot {
    width: 100% !important;
    text-align: left;
}

.big input {
    text-align: left;
}

.big textarea {
    text-align: left;
    padding: 0;
}

.btns_area {
    width: 100%;
    padding: 10px;
}

.btns_area button {
    width: calc(50% - 8px);
}

.btns_area button+button {
    margin-left: 10px;
}

.btns_area .fullBtn {
    width: 100%;
}

.top {
    width: 100%;
    background-color: white;
    padding: 10px 20px;
}

.list_item {
    padding: 10px;
}

#my_alert {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    /* display: none; */
}

.alert_box {
    width: 280px;
    height: auto;
    background-color: white;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 0 auto;
    margin-top: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.alert_title {
    line-height: 36px;
    text-align: center;
}

.alert_title span {
    font-size: 16px;
    font-weight: bold;
}

.alert_cot {
    padding: 20px 0;
    text-align: center;
}

.alert_cot img {
    width: 50px;
    height: auto;
}

.alert_cot p {
    font-size: 14px;
    margin-top: 16px;
}

.search {
    background-color: #f8f8f8;
    padding: 8px 12px;
}

.search .van-cell {
    border-radius: 40px;
    line-height: 32px;
    background-color: #eaeaea;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background-color: white;
    border-top: 1px solid #e6e6e6;
    line-height: 48px;
}

.footer .footer_left {
    float: left;
    height: 48px;
    padding: 14px 16px;
}

.footer>.span {
    height: 48px;
    display: inline-block;
    line-height: 48px;
}