.searchbar {
    padding: 10px 6px;
    background-color: white;
}

.searchbar>.van-cell {
    border-radius: 20px;
    background-color: #f3f2f2;
}

.selectlist {
    height: 400px;
    overflow-y: scroll;
}

.selectlist>.van-cell {
    padding: 8px 14px;
    border-bottom: 1px dashed rgb(231, 231, 231);
}

.s_list {
    line-height: 40px;
    text-align: left;
    padding: 0 20px;
    border-bottom: 1px solid #f1f1f1;
}

.selectInput {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    line-height: inherit;
    width: calc(100%);
    font-size: inherit;
    text-align: inherit;
}

.showIcon {
    width: calc(100% - 32px);
}

.selectcheck {
    background-color: #d9e7f5;
    color: #1c84e3;
    font-weight: bold;
}

.selectBtn {
    width: 50%;
    float: left;
    height: 40px;
    text-align: center;
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;
}

.selectBtn span {
    color: #47a1f7;
    font-weight: bold;
    line-height: 40px;
    font-size: 16px;
}

.cancel {
    background-color: rgb(233, 233, 233);
}

.cancel span {
    color: #b8b8b8;
}